---
title: Home
---

{% include header.html %}

  <main class="site__content post--single" role="main">

    <div class="wrap">
      <ul class="posts grid standalone">
        {% for post in site.posts %}
          {% if forloop.index == 3 %}
            <li class="posts__entry posts__entry--ad grid__col grid__col--4-of-12 grid__col--m-1-of-2">
              {% include ad.html %}
            </li>
          {% endif %}
          <li class="posts__entry grid__col grid__col--4-of-12 grid__col--m-1-of-2">
            <a href="{{post.url}}">
              <header class="entry__header">
                <p class="gamma entry__date meta standalone">{{ post.date | pretty }}</p>
                <h1 class="entry__title entry-title">
                  {{ post.title | widont }}
                </h1>
              </header>

              <p>{{ post.content | strip_html | truncatewords:35 }}</p>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>

  </main>

{% include footer.html %}
