---
title: Home
---

{% include header.html %}

  <main class="site__content post--single" role="main">

    <div class="wrap">
      <article class="grid">
        <div class="grid__col--4-of-6">
          <ul class="posts">
            {% for post in paginator.posts %}
              <li class="posts__entry">
                <header class="entry__header">
                  <p class="gamma entry__date meta o--p--qm">{{ post.date | pretty }} <a href="{{ post.url }}" title="Permalink to “{{ post.title }}”">&infin;</a></p>
                  <h1 class="entry__title entry-title">
                    {% if post.link %}
                      <a class="delta" href="{{ post.link }}">{{ post.title | widont }} &rarr;</a>
                    {% else %}
                      {{ post.title | widont }}
                    {% endif %}
                  </h1>
                </header>

                {{ post.content }}
              </li>
            {% endfor %}
          </ul>
        </div>
        {% include sidebar.html %}
      </article>
    </div>

  </main>

{% include footer.html %}
