<aside class="grid__col--2-of-6">
  <div class="isle sidebar__block">
      <ul class="nav nav--ruled">
        <li><a href="/about/">About</a></li>
        <li><a href="/atom.xml"><span class="caps">RSS</span> Feed</a></li>
        <li><a href="http://twitter.com/raggedwritefeed">Twitter</a></li>
      </ul>
  </div>

  <div class="isle sidebar__block sidebar__block--ad">
    <script type="text/javascript" src="//cdn.fusionads.net/fusion.js?zoneid=1332&serve=C6SDP2Y&placement=raggedwrite" id="_fusionads_js"></script>
  </div>
</aside>
