/*-----------------------------------*\

  Module: Content

  <body [class="page"]>
    ...
    <main class="site__content">
      {{ content }}
    </main>
    ...
  </body>

\*-----------------------------------*/

.site__content {
  padding-top: $baseline;
  padding-bottom: $baseline;

  @media screen and ( max-width: $breakpoint-small ) {
    padding-top: 0;
  }
}

.hentry {
  margin-bottom: $baseline*3;
}

.entry__header {
  .beta {
    padding-top: 0;
  }
}

.posts {
  padding: 0;
  list-style: none;

  .posts__entry {
    @extend .hentry;
  }
}
