/*-----------------------------------*\

  Module: Content

  <body [class="page"]>
    ...
    <main class="site__content">
      {{ content }}
    </main>
    ...
  </body>

\*-----------------------------------*/

.hentry {

  sup[id*="fnref"] {
    a {
      font-family: $font-Sans;
      font-style: italic;
      text-decoration: none;

      color: $highlight;
    }
  }
}

.entry__header {
  .beta {
    padding-top: 0;
  }
}

.posts {
  padding: 0;
  list-style: none;

  .posts__entry {
    padding-top: $baseline;

    @media (min-width: $breakpoint-small) {
      font-size: $baseline/2;
    }

    border-bottom: 1px solid $lighter-gray;
    border-right: 1px solid $lighter-gray;

    &--ad {
      background-color: $subtle-gray;
    }

    @media (min-width: 900px) {
      &:nth-of-type(3n), &:last-of-type {
        border-right: none;
      }
    }

    @media (max-width: 900px) {
      &:nth-of-type(2n), &:last-of-type {
        border-right: none;
      }
    }

    @media (max-width: $breakpoint-small) {
      border-right: none;
    }

    a {
      text-decoration: none;

      &:hover {
        color: inherit;

        .entry__title {
          color: $highlight;
        }
      }
    }

    p {
      hyphens: auto;
      text-align: justify;
    }

    .entry__title {
      @media (min-width: $breakpoint-small) {
        margin-bottom: $baseline/2;

        font-size: $baseline/2;
        font-weight: 700;
        line-height: $baseline-unitless;
      }
    }
  }
}

.footnotes {
  color: $light-gray;
  font-family: $font-Sans;
  font-size: .777777778rem;
  line-height: 1.33333;

  .caps {
    font-family: $font-Sans-SC;
  }
}

.sidebar {
  @media (min-width: 700px) {
    border-left: 1px solid $lighter-gray;
  }
}

.sidebar__block {
  margin-bottom: $baseline;

  font-size: .777777778rem;
  line-height: 1.33333;
  font-family: $font-Sans;

  .caps {
    font-family: $font-Sans-SC;
  }
}

.sidebar__block--ad {
  a {
      text-decoration: none;
  }

  .fusion-img {
    display: block;
    margin: 0 auto;
    margin-bottom: $baseline/2;
  }

  .fusion-poweredby {
    clear: both;
    margin-top: $baseline/2;
    display: block;

    font-family: $font-Sans-SC;
    letter-spacing: .04em;
    text-align: center;

    color: $light-gray;
  }
}
