/*-----------------------------------*\

  Module: Content

  <body [class="page"]>
    ...
    <main class="site__content">
      {{ content }}
    </main>
    ...
  </body>

\*-----------------------------------*/

.site__content {
  padding-top: $baseline;
  padding-bottom: $baseline;

  @media screen and ( max-width: $breakpoint-small ) {
    padding-top: 0;
  }
}

.hentry {
  margin-bottom: $baseline*4;

  sup[id*="fnref"] {
    a {
      font-family: $font-Sans;
      font-style: italic;
      text-decoration: none;

      color: $highlight;
    }
  }
}

.entry__header {
  .beta {
    padding-top: 0;
  }
}

.posts {
  padding: 0;
  list-style: none;

  .posts__entry {
    @extend .hentry;
  }
}

.footnotes {
  color: $light-gray;
  font-family: $font-Sans;
  font-size: .777777778rem;
  line-height: 1.33333;

  .caps {
    font-family: $font-Sans-SC;
  }
}

.sidebar {
  @media (min-width: 700px) {
    border-left: 1px solid $subtle-gray;
  }
}

.sidebar__block {
  margin-bottom: $baseline;

  font-size: .777777778rem;
  line-height: 1.33333;
  font-family: $font-Sans;

  .caps {
    font-family: $font-Sans-SC;
  }
}

.sidebar__block--ad {
  a {
      text-decoration: none;
  }

  .fusion-img {
    display: block;
    margin: 0 auto;
    margin-bottom: $baseline/2;
  }

  .fusion-poweredby {
    clear: both;
    margin-top: $baseline/2;
    display: block;

    font-family: $font-Sans-SC;
    letter-spacing: .04em;
    text-align: center;

    color: $light-gray;
  }
}
