/*-----------------------------------*\

  Module: Header

\*-----------------------------------*/

.site__header {
  color: #fff;
  background-color: $gray;
}

.title__typeplate {
	margin: 0 auto;
}
