@charset "UTF-8";


/*-----------------------------------*\

  Root: style.scss

  Imports all required SCSS files.

\*-----------------------------------*/

/*-----------------------------------*\

  Partial: Variables

  Includes global variables for
  colors and unit sizes

\*-----------------------------------*/

/*-----------------------------------*\

  Module: Base

  Anything that can’t be abstracted
  or assigned to another section.
  Low-level stuff. Typically only body
  and html styles.

\*-----------------------------------*/

::-moz-selection {
  background-color: rgba(209, 209, 209, 0.5);
}

::selection {
  background-color: rgba(209, 209, 209, 0.5);
}

html {
  font: 112.5%/1.55556 "Mercury SSm A", "Mercury SSm B", Georgia, serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  -webkit-font-kerning: normal;
  -moz-font-kerning: normal;
  font-kerning: normal;
  background-color: #1a1f28;
}

@media (max-width: 47.5em) {
  html {
    font-size: 87.5%;
  }
}

body {
  overflow-x: hidden;
  background-color: #fff;
  color: #1a1f28;
}

/*-----------------------------------*\

  Partials: All

  Includes all partials

\*-----------------------------------*/

/*-----------------------------------*\

  Partial: Mixins

\*-----------------------------------*/

/*-----------------------------------*\

  Partial: Reset

  Blanket reset. For something less
  volatile, I’d recommend Eric
  Meyer’s reset.

\*-----------------------------------*/

*,
:before,
:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}

img {
  max-width: 100%;
}

/*-----------------------------------*\

  Partial: Typography

  Low-level type things. Headings,
  links, blockquotes, etc.

\*-----------------------------------*/

h1,
.alpha {
  margin-bottom: 22px;
  margin-bottom: 1.55556rem;
  font-size: 19px;
  font-size: 1.333333333rem;
  font-weight: 400;
  letter-spacing: -.03em;
  line-height: 1.166666667;
  orphans: 3;
  widows: 3;
  color: #060709;
}

h2,
.beta {
  padding-top: 11px;
  padding-top: 0.77778rem;
  margin-bottom: 11px;
  margin-bottom: 0.77778rem;
  font-family: "Whitney SSm A", "Whitney SSm B", Geneva, Verdana, sans-serif;
  font-size: 16px;
  font-size: 1.166666667rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.333333333;
  orphans: 3;
  widows: 3;
}

h3,
.gamma {
  margin-bottom: 11px;
  margin-bottom: 0.77778rem;
  font-family: "Whitney SSm SC A", "Whitney SSm SC B", "Whitney SSm A", "Whitney SSm B", Geneva, Verdana, sans-serif;
  font-size: 12px;
  font-size: .888888889rem;
  font-weight: 400;
  letter-spacing: .1em;
  line-height: 1.75;
}

h3 * +,
.gamma * + {
  padding-top: 11px;
  padding-top: 0.77778rem;
}

h4,
.delta {
  font-family: "Whitney SSm A", "Whitney SSm B", Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.55556;
}

.mega {
  font-weight: 200;
  font-size: 30px;
  font-size: 2.153846154rem;
  line-height: 1.178571429;
}

.promo {
  text-align: center;
}

.subhead,
.meta,
figcaption {
  color: #6b6c6d;
}

a,
[data-href] {
  text-decoration: underline;
  color: inherit;
  -webkit-transition: .2s;
  transition: .2s;
  cursor: pointer;
}

a:hover,
[data-href]:hover {
  color: #4d8fac;
}

.a--plain {
  text-decoration: none;
}

.caps {
  font-family: "Mercury SSm SC A", "Mercury SSm SC B", "Mercury SSm A", "Mercury SSm B", Georgia, serif;
  text-transform: uppercase;
  letter-spacing: .04em;
}

strong,
.strong {
  font-weight: 700;
}

em,
.em {
  font-style: italic;
}

hr {
  border: none;
  border-bottom: 2px solid #f7f7f7;
  width: 84px;
  width: 6rem;
  margin-top: -2px;
  margin-right: auto;
  margin-bottom: 22px;
  margin-bottom: 1.55556rem;
  margin-left: auto;
}

ul,
ol {
  padding-left: 1.35em;
  overflow: hidden;
}

li > ul,
li > ol {
  margin-bottom: 0;
}

dl dt {
  font-weight: 700;
}

dl dd {
  padding-left: 18px;
  padding-left: 1.3rem;
}

blockquote {
  overflow: hidden;
  font-family: "Whitney SSm A", "Whitney SSm B", Geneva, Verdana, sans-serif;
  padding-left: 22px;
  padding-left: 1.55556rem;
  border-left: 2px solid #4d8fac;
  color: #6b6c6d;
}

blockquote > :last-child {
  margin-bottom: 0;
}

@media (max-width: 47.5em) {
  blockquote {
    margin-left: 0;
  }
}

blockquote .caps {
  font-family: "Whitney SSm SC A", "Whitney SSm SC B", "Whitney SSm A", "Whitney SSm B", Geneva, Verdana, sans-serif;
}

blockquote em {
  font-style: normal;
}

/*-----------------------------------*\

  Partial: Helpers

  Helper classes. Layout helpers,
  clearfix, element hiding

\*-----------------------------------*/

.cf:before,
.cf:after {
  content: "";
  display: table;
}

.cf:after {
  clear: both;
}

p,
.o--p,
[class*="o--p--"],
figure,
blockquote,
table,
form,
ul,
ol,
.img,
pre,
.mega,
.ultra {
  display: block;
  margin-bottom: 22px;
  margin-bottom: 1.55556rem;
}

p:empty,
.o--p:empty,
[class*="o--p--"]:empty,
figure:empty,
blockquote:empty,
table:empty,
form:empty,
ul:empty,
ol:empty,
.img:empty,
pre:empty,
.mega:empty,
.ultra:empty {
  display: none;
}

.o--p--dm {
  margin-bottom: 44px;
  margin-bottom: 3.11111rem;
}

.o--p--hm {
  margin-bottom: 11px;
  margin-bottom: 0.77778rem;
}

.o--p--qm {
  margin-bottom: 5px;
  margin-bottom: 0.38889rem;
}

.o--p--nm {
  margin-bottom: -22px;
  margin-bottom: -1.55556rem;
}

.o--b {
  display: block;
}

.o--i {
  display: inline-block;
}

.o--p--xxl {
  font-size: 21px;
  font-size: 1.5rem;
  line-height: 1.142857143;
}

.o--p--xl {
  font-size: 17px;
  font-size: 1.230769231rem;
  line-height: 1.375;
}

.o--p--l {
  font-size: 16px;
  font-size: 1.142857143rem;
  line-height: 1.5;
}

.o--p--s {
  font-size: 12px;
  font-size: .823529412rem;
  line-height: 1.5;
}

.o--p--xs {
  font-size: 11px;
  font-size: .75rem;
  line-height: 1.142857143;
}

.f--l,
.f--r {
  z-index: 1;
}

.f--l {
  float: left;
}

.f--r {
  float: right;
}

.standalone {
  margin-bottom: 0 !important;
}

.hidden-v {
  visibility: none;
  position: absolute;
  left: -99999px;
  height: 1px;
}

@media (max-width: 47.5em) {
  .hidden-v--m,
  .hidden-r--m {
    visibility: hidden;
    position: absolute !important;
    left: -99999px !important;
    height: 1px !important;
  }
}

@media screen and (max-width: 47.5em) {
  .hidden-r--m {
    display: none;
  }
}

/*-----------------------------------*\

  Partial: Layout

  Layout helpers

\*-----------------------------------*/

.wrap {
  max-width: 798px;
  max-width: 57rem;
  padding-left: 22px;
  padding-left: 1.55556rem;
  padding-right: 22px;
  padding-right: 1.55556rem;
  margin: 0 auto;
}

@media (max-width: 56em) {
  .wrap {
    max-width: 504px;
    max-width: 36rem;
  }
}

@media (max-width: 47.5em) {
  .wrap {
    max-width: 476px;
    max-width: 34rem;
    padding-left: 11px;
    padding-left: 0.77778rem;
    padding-right: 11px;
    padding-right: 0.77778rem;
  }
}

.island {
  padding: 22px;
  padding: 1.55556rem;
}

.island--v {
  padding-top: 22px;
  padding-top: 1.55556rem;
  padding-bottom: 22px;
  padding-bottom: 1.55556rem;
}

.island--h {
  padding-left: 22px;
  padding-left: 1.55556rem;
  padding-right: 22px;
  padding-right: 1.55556rem;
}

.isle,
table td,
table th {
  padding: 11px;
  padding: 0.77778rem;
}

.isle--v {
  padding-top: 11px;
  padding-top: 0.77778rem;
  padding-bottom: 11px;
  padding-bottom: 0.77778rem;
}

.isle--h {
  padding-left: 11px;
  padding-left: 0.77778rem;
  padding-right: 11px;
  padding-right: 0.77778rem;
}

.spit {
  padding: 5px;
  padding: 0.38889rem;
}

.spit--v,
.nav--ruled a {
  padding-top: 5px;
  padding-top: 0.38889rem;
  padding-bottom: 5px;
  padding-bottom: 0.38889rem;
}

.spit--h {
  padding-left: 5px;
  padding-left: 0.38889rem;
  padding-right: 5px;
  padding-right: 0.38889rem;
}

.span-all,
.grid > .grid__col--2-of-2,
.grid > .grid__col--3-of-3,
.grid > .grid__col--4-of-4,
.grid > .grid__col--6-of-6,
.grid > .grid__col--12-of-12 {
  width: 100%;
}

/*-----------------------------------*\

  $TOAST-GRID

  An insane grid.
  You'd be mad to use it.

  Usage
  =====

  Assuming default values:

  <div class="grid">
    <div class="grid__col grid__col--1-of-2">
      A half-width column.
    </div>
    <div class="grid__col grid__col--1-of-4 grid__col--pull-1-of-4">
      A quarter, pulled left by its own width. You get this, right?
    </div>
  </div>


  Customisation
  =============

  $grid-namespace and $grid-column-namespace
  adjusts the class names for the grid. With
  default values, grid wrappers have a class
  of '.grid' and columns '.grid__col'.

  $col-groups(n) adjusts column divisions.
  For example, $col-groups(12) will produce
  a 12-column grid. $col-groups(3,6,8)
  will produce a 3-, 6-, and 8-column grid.

  $gutter-width is—you guessed it—the gutter
  width. Accepts any unit.

  That's it. Have fun.

\*-----------------------------------*/

.grid {
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.grid > .grid__col--2-of-2,
.grid > .grid__col--3-of-3,
.grid > .grid__col--4-of-4,
.grid > .grid__col--6-of-6,
.grid > .grid__col--12-of-12 {
  -webkit-flex-basis: 100%;
  -ms-flex: 0 1 100%;
  flex-basis: 100%;
}

.grid > .grid__col--1-of-2,
.grid > .grid__col--2-of-4,
.grid > .grid__col--3-of-6,
.grid > .grid__col--6-of-12 {
  -webkit-flex-basis: 50%;
  -ms-flex: 0 1 50%;
  flex-basis: 50%;
}

.grid > .grid__col--1-of-3,
.grid > .grid__col--2-of-6,
.grid > .grid__col--4-of-12 {
  -webkit-flex-basis: 33.33333%;
  -ms-flex: 0 1 33.33333%;
  flex-basis: 33.33333%;
}

.grid > .grid__col--2-of-3,
.grid > .grid__col--4-of-6,
.grid > .grid__col--8-of-12 {
  -webkit-flex-basis: 66.66667%;
  -ms-flex: 0 1 66.66667%;
  flex-basis: 66.66667%;
}

.grid > .grid__col--1-of-4,
.grid > .grid__col--3-of-12 {
  -webkit-flex-basis: 25%;
  -ms-flex: 0 1 25%;
  flex-basis: 25%;
}

.grid > .grid__col--3-of-4,
.grid > .grid__col--9-of-12 {
  -webkit-flex-basis: 75%;
  -ms-flex: 0 1 75%;
  flex-basis: 75%;
}

.grid > .grid__col--1-of-6 {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex: 1;
  flex-grow: 1;
  -webkit-flex-basis: 16.66667%;
  -ms-flex: 0 1 16.66667%;
  flex-basis: 16.66667%;
}

.grid > .grid__col--5-of-6 {
  -webkit-box-flex: 5;
  -webkit-flex-grow: 5;
  -ms-flex: 5;
  flex-grow: 5;
  -webkit-flex-basis: 83.33333%;
  -ms-flex: 0 1 83.33333%;
  flex-basis: 83.33333%;
}

.grid > .grid__col--1-of-12 {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex: 1;
  flex-grow: 1;
  -webkit-flex-basis: 8.33333%;
  -ms-flex: 0 1 8.33333%;
  flex-basis: 8.33333%;
}

.grid > .grid__col--2-of-12 {
  -webkit-box-flex: 2;
  -webkit-flex-grow: 2;
  -ms-flex: 2;
  flex-grow: 2;
  -webkit-flex-basis: 16.66667%;
  -ms-flex: 0 1 16.66667%;
  flex-basis: 16.66667%;
}

.grid > .grid__col--5-of-12 {
  -webkit-box-flex: 5;
  -webkit-flex-grow: 5;
  -ms-flex: 5;
  flex-grow: 5;
  -webkit-flex-basis: 41.66667%;
  -ms-flex: 0 1 41.66667%;
  flex-basis: 41.66667%;
}

.grid > .grid__col--7-of-12 {
  -webkit-box-flex: 7;
  -webkit-flex-grow: 7;
  -ms-flex: 7;
  flex-grow: 7;
  -webkit-flex-basis: 58.33333%;
  -ms-flex: 0 1 58.33333%;
  flex-basis: 58.33333%;
}

.grid > .grid__col--10-of-12 {
  -webkit-box-flex: 10;
  -webkit-flex-grow: 10;
  -ms-flex: 10;
  flex-grow: 10;
  -webkit-flex-basis: 83.33333%;
  -ms-flex: 0 1 83.33333%;
  flex-basis: 83.33333%;
}

.grid > .grid__col--11-of-12 {
  -webkit-box-flex: 11;
  -webkit-flex-grow: 11;
  -ms-flex: 11;
  flex-grow: 11;
  -webkit-flex-basis: 91.66667%;
  -ms-flex: 0 1 91.66667%;
  flex-basis: 91.66667%;
}

.grid .grid__col {
  padding-left: 11px;
  padding-left: 0.77778rem;
  padding-right: 11px;
  padding-right: 0.77778rem;
}

@media (max-width: 700px) {
  .grid .grid__col {
    display: block;
    margin-left: 0;
    margin-right: 0;
    width: auto;
  }
}

@media (max-width: 900px) and (min-width: 480px) {
  .grid .grid__col.grid__col--m-1-of-2,
  .grid .grid__col.grid__col--m-2-of-4 {
    -webkit-flex-basis: 50%;
    -ms-flex: 0 1 50%;
    flex-basis: 50%;
  }

  .grid .grid__col.grid__col--m-1-of-3 {
    -webkit-flex-basis: 33.33333%;
    -ms-flex: 0 1 33.33333%;
    flex-basis: 33.33333%;
  }

  .grid .grid__col.grid__col--m-1-of-3 {
    -webkit-flex-basis: 66.66667%;
    -ms-flex: 0 1 66.66667%;
    flex-basis: 66.66667%;
  }

  .grid .grid__col.grid__col--m-1-of-4 {
    -webkit-flex-basis: 25%;
    -ms-flex: 0 1 25%;
    flex-basis: 25%;
  }

  .grid .grid__col.grid__col--m-3-of-4 {
    -webkit-flex-basis: 75%;
    -ms-flex: 0 1 75%;
    flex-basis: 75%;
  }
}

@media (max-width: 480px) {
  .grid {
    display: block;
  }

  .grid .grid__col {
    padding-left: 0;
    padding-right: 0;
  }
}

.grid .grid__col--centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.grid .grid__col--d-first {
  float: left;
}

.grid .grid__col--d-last {
  float: right;
}

.grid.grid--no-gutter {
  margin-left: 0;
  width: 100%;
}

.grid.grid--no-gutter > * {
  padding-left: 0;
}

.grid.grid--no-gutter .grid__col--span-all {
  margin-left: 0;
  width: 100%;
}

.grid .grid__col--ab {
  vertical-align: bottom;
}

.grid .grid__col--am {
  vertical-align: middle;
}

/*-----------------------------------*\

  Partial: Objects

  Abstracted things and common
  patterns go here. Not to be
  confused with helpers.

\*-----------------------------------*/

.nav,
.nav ul {
  padding-left: 0;
  z-index: 1;
  list-style: none;
}

.nav .nav--sub,
.nav ul .nav--sub {
  padding-left: 1.5em;
  margin-bottom: 0;
}

.nav .active,
.nav ul .active {
  font-weight: 700;
  color: #060709;
}

.nav--ruled {
  margin-bottom: 0;
}

.nav--ruled a {
  display: block;
  text-decoration: none;
}

.nav--ruled > li + li {
  -webkit-box-shadow: 0 -1px #d1d1d1;
  box-shadow: 0 -1px #d1d1d1;
}

.nav--inline {
  margin-bottom: 0;
}

.nav--inline li,
.nav--inline li > a {
  display: inline-block;
}

.nav--inline li {
  margin-left: 1em;
}

.img {
  display: block;
}

.img.img--centered {
  margin-left: auto;
  margin-right: auto;
}

/*-----------------------------------*\

  Partial: Images

\*-----------------------------------*/

figcaption {
  font-family: "Whitney SSm A", "Whitney SSm B", Geneva, Verdana, sans-serif;
  font-size: 9px;
  font-size: .666666667rem;
  line-height: 1.555555833;
}

figcaption .caps {
  font-family: "Whitney SSm SC A", "Whitney SSm SC B", "Whitney SSm A", "Whitney SSm B", Geneva, Verdana, sans-serif;
}

@media (max-width: 700px) {
  figcaption {
    text-align: left;
  }
}

@media (max-width: 480px) {
  figcaption {
    font-size: 12px;
    font-size: .857142857rem;
  }
}

figure {
  padding-top: 11px;
  padding-top: 0.77778rem;
}

figure img {
  max-width: 100% !important;
  display: block;
  margin-bottom: 11px;
  margin-bottom: 0.77778rem;
}

@media (max-width: 480px) {
  figure img {
    max-width: none;
    width: -webkit-calc(100% + 22px );
    width: -webkit-calc(100% + 1.55556rem );
    width: calc(100% + 22px );
    width: calc(100% + 1.55556rem );
    margin-left: -11px;
    margin-left: -0.77778rem;
    margin-right: -11px;
    margin-right: -0.77778rem;
  }
}

.aligncenter {
  display: block;
  margin: 0 auto 21px;
  margin: 0 auto 1.5rem;
}

.alignleft,
.alignright {
  clear: both;
  padding-top: 0;
  margin-bottom: 11px;
  margin-bottom: 0.77778rem;
}

.alignleft img,
.alignright img {
  max-width: 100%;
  width: auto;
  margin: auto;
  margin-bottom: 11px;
  margin-bottom: 0.77778rem;
}

.alignleft figcaption,
.alignright figcaption {
  text-align: left;
}

.alignleft {
  width: 25%;
  float: left;
  margin-right: 22px;
  margin-right: 1.55556rem;
  padding-left: 22px;
  padding-left: 1.55556rem;
}

.alignright {
  width: 25%;
  float: right;
  margin-left: 22px;
  margin-left: 1.55556rem;
}

/*-----------------------------------*\

  Partial: Tables

  Table styles

\*-----------------------------------*/

table {
  display: table;
  width: 100%;
  border-collapse: collapse;
  table-layout: auto;
  text-align: left;
  border-radius: .25em;
  border: 1px solid #f7f7f7;
}

table tr {
  display: table-row;
}

table tbody,
table thead,
table tr {
  border-collapse: collapse;
}

table td,
table th {
  width: auto;
  vertical-align: top;
  display: table-cell;
  line-height: 1.5;
  white-space: nowrap;
  border-top: 1px solid #f7f7f7;
  border-bottom: 1px solid #f7f7f7;
  border-collapse: collapse;
}

table td:first-child,
table th:first-child {
  border-radius: .25em .25em 0 0;
  border-left: 1px solid #f7f7f7;
}

table td:last-child,
table th:last-child {
  border-radius: 0 0 .25em .25em;
  border-right: 1px solid #f7f7f7;
}

table.table--striped tr:nth-child(even) {
  background-color: white;
}

/*-----------------------------------*\

  Partial: Forms

  Form elements – Buttons, inputs,
  and the like.

\*-----------------------------------*/

/*-----------------------------------*\

  Partial: Animations

\*-----------------------------------*/

/*-----------------------------------*\

  Partial: Debug

  DEVELOPMENT ONLY
  ================

  Debugging helper classes for layout,
  etc.

\*-----------------------------------*/

.debug--outline * {
  outline: 1px dotted rgba(0, 0, 0, 0.1);
  outline-offset: -1px;
}

.debug--outline *:hover {
  outline-color: red;
}

.debug--grid body {
  position: relative;
}

.debug--grid body:after {
  position: absolute;
  width: auto;
  height: auto;
  z-index: 9999;
  content: '';
  display: block;
  pointer-events: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(http://basehold.it/image.php?height=28) repeat top left;
}

.debug--grid body:active:after {
  display: none;
}

/*-----------------------------------*\

  Module: All

  Includes all Modules

\*-----------------------------------*/

/*-----------------------------------*\

  Module: Code

  Code highlighting colors

\*-----------------------------------*/

.highlight,
code,
pre {
  font-family: "Source Code Pro", Monaco, monospace;
}

.highlight {
  margin-bottom: 22px;
  margin-bottom: 1.55556rem;
  width: 100%;
  padding: 11px 21px;
  padding: .75rem 1.5rem;
  overflow: scroll;
  background-color: #1a1f28;
  color: #6b6c6d;
  border-radius: 4px;
  border-radius: .25rem;
}

.highlight * {
  display: initial;
}

.highlight .hll {
  background-color: #ffffcc;
}

.highlight .c {
  color: #656763;
}

.highlight .err {
  color: #babdb6;
}

.highlight .g {
  color: #babdb6;
}

.highlight .k {
  color: #729fcf;
}

.highlight .l {
  color: #babdb6;
}

.highlight .n {
  color: #babdb6;
}

.highlight .o {
  color: #babdb6;
}

.highlight .x {
  color: #babdb6;
}

.highlight .p {
  color: #babdb6;
}

.highlight .cm {
  color: #656763;
}

.highlight .cp {
  color: #fcaf3e;
}

.highlight .c1 {
  color: #656763;
}

.highlight .cs {
  color: #656763;
}

.highlight .gd {
  color: #2e3436;
  background-color: #0e1416;
}

.highlight .ge {
  color: #babdb6;
}

.highlight .gr {
  color: #eeeeec;
  background-color: #cc0000;
}

.highlight .gh {
  color: #fcaf3e;
}

.highlight .gi {
  color: #babdb6;
  background-color: #1f2b2d;
}

.highlight .go {
  color: #2c3032;
  background-color: #2c3032;
}

.highlight .gp {
  color: #babdb6;
}

.highlight .gs {
  color: #babdb6;
}

.highlight .gu {
  color: #fcaf3e;
}

.highlight .gt {
  color: #babdb6;
}

.highlight .kc {
  color: #729fcf;
}

.highlight .kd {
  color: #729fcf;
}

.highlight .kn {
  color: #729fcf;
}

.highlight .kp {
  color: #729fcf;
}

.highlight .kr {
  color: #729fcf;
}

.highlight .kt {
  color: #e3e7df;
}

.highlight .ld {
  color: #babdb6;
}

.highlight .m {
  color: #8ae234;
}

.highlight .s {
  color: #babdb6;
}

.highlight .na {
  color: #fcaf3e;
}

.highlight .nb {
  color: #babdb6;
}

.highlight .nc {
  color: #babdb6;
}

.highlight .no {
  color: #8ae234;
}

.highlight .nd {
  color: #babdb6;
}

.highlight .ni {
  color: #888a85;
}

.highlight .ne {
  color: #babdb6;
}

.highlight .nf {
  color: #fcaf3e;
}

.highlight .nl {
  color: #babdb6;
}

.highlight .nn {
  color: #babdb6;
}

.highlight .nx {
  color: #babdb6;
}

.highlight .py {
  color: #babdb6;
}

.highlight .nt {
  color: #729fcf;
}

.highlight .nv {
  color: #ffffff;
}

.highlight .ow {
  color: #babdb6;
}

.highlight .w {
  color: #babdb6;
}

.highlight .mf {
  color: #8ae234;
}

.highlight .mh {
  color: #8ae234;
}

.highlight .mi {
  color: #8ae234;
}

.highlight .mo {
  color: #8ae234;
}

.highlight .sb {
  color: #babdb6;
}

.highlight .sc {
  color: #babdb6;
}

.highlight .sd {
  color: #babdb6;
}

.highlight .s2 {
  color: #babdb6;
}

.highlight .se {
  color: #babdb6;
}

.highlight .sh {
  color: #babdb6;
}

.highlight .si {
  color: #babdb6;
}

.highlight .sx {
  color: #babdb6;
}

.highlight .sr {
  color: #babdb6;
}

.highlight .s1 {
  color: #babdb6;
}

.highlight .ss {
  color: #babdb6;
}

.highlight .bp {
  color: #babdb6;
}

.highlight .vc {
  color: #ffffff;
}

.highlight .vg {
  color: #ffffff;
}

.highlight .vi {
  color: #ffffff;
}

.highlight .il {
  color: #8ae234;
}

/*-----------------------------------*\

  Module: Header

\*-----------------------------------*/

.site__header {
  color: #fff;
  background-color: #1a1f28;
}

.title__typeplate {
  margin: 0 auto;
}

/*-----------------------------------*\

  Module: Content

  <body [class="page"]>
    ...
    <main class="site__content">
      {{ content }}
    </main>
    ...
  </body>

\*-----------------------------------*/

.hentry sup[id*="fnref"] a {
  font-family: "Whitney SSm A", "Whitney SSm B", Geneva, Verdana, sans-serif;
  font-style: italic;
  text-decoration: none;
  color: #4d8fac;
}

.entry__header .beta {
  padding-top: 0;
}

.posts {
  padding: 0;
  list-style: none;
}

.posts .posts__entry {
  padding-top: 22px;
  padding-top: 1.55556rem;
  border-bottom: 1px solid #d1d1d1;
  border-right: 1px solid #d1d1d1;
}

@media (min-width: 480px) {
  .posts .posts__entry {
    font-size: 11px;
    font-size: 0.77778rem;
  }
}

.posts .posts__entry--ad {
  background-color: #f7f7f7;
}

@media (min-width: 900px) {
  .posts .posts__entry:nth-of-type(3n),
  .posts .posts__entry:last-of-type {
    border-right: none;
  }
}

@media (max-width: 900px) {
  .posts .posts__entry:nth-of-type(2n),
  .posts .posts__entry:last-of-type {
    border-right: none;
  }
}

@media (max-width: 480px) {
  .posts .posts__entry {
    border-right: none;
  }
}

.posts .posts__entry a {
  text-decoration: none;
}

.posts .posts__entry a:hover {
  color: inherit;
}

.posts .posts__entry a:hover .entry__title {
  color: #4d8fac;
}

.posts .posts__entry p {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  text-align: justify;
}

@media (min-width: 480px) {
  .posts .posts__entry .entry__title {
    margin-bottom: 11px;
    margin-bottom: 0.77778rem;
    font-size: 11px;
    font-size: 0.77778rem;
    font-weight: 700;
    line-height: 1.55556;
  }
}

.footnotes {
  color: #6b6c6d;
  font-family: "Whitney SSm A", "Whitney SSm B", Geneva, Verdana, sans-serif;
  font-size: 11px;
  font-size: .777777778rem;
  line-height: 1.33333;
}

.footnotes .caps {
  font-family: "Whitney SSm SC A", "Whitney SSm SC B", "Whitney SSm A", "Whitney SSm B", Geneva, Verdana, sans-serif;
}

@media (min-width: 700px) {
  .sidebar {
    border-left: 1px solid #d1d1d1;
  }
}

.sidebar__block {
  margin-bottom: 22px;
  margin-bottom: 1.55556rem;
  font-size: 11px;
  font-size: .777777778rem;
  line-height: 1.33333;
  font-family: "Whitney SSm A", "Whitney SSm B", Geneva, Verdana, sans-serif;
}

.sidebar__block .caps {
  font-family: "Whitney SSm SC A", "Whitney SSm SC B", "Whitney SSm A", "Whitney SSm B", Geneva, Verdana, sans-serif;
}

.sidebar__block--ad a {
  text-decoration: none;
}

.sidebar__block--ad .fusion-img {
  display: block;
  margin: 0 auto;
  margin-bottom: 11px;
  margin-bottom: 0.77778rem;
}

.sidebar__block--ad .fusion-poweredby {
  clear: both;
  margin-top: 11px;
  margin-top: 0.77778rem;
  display: block;
  font-family: "Whitney SSm SC A", "Whitney SSm SC B", "Whitney SSm A", "Whitney SSm B", Geneva, Verdana, sans-serif;
  letter-spacing: .04em;
  text-align: center;
  color: #6b6c6d;
}

/*-----------------------------------*\

  Module: Footer

\*-----------------------------------*/

.site__footer {
  color: #6b6c6d;
  background-color: #1a1f28;
  margin-top: -1px;
}

/*===================================*\

  Sass Authoring Rules
  --------------------

  Some basic guidelines (that may be broken) for authoring manageable, readable Sass styles:

  .block {
    // 1. Layout Properties
    // display, width, padding, margin, vertical-align, box-sizing, etc.
    // Note: Bracketed expression values — such as calc() or linear-gradient() — must have spaces [e.g. calc( 100% + 2rem )] for Grunt tasks to run properly

    // 2. Typography Properties
    // font[-size, -weight, etc], line-height, text-align, letter-spacing, white-space, etc.

    // 3. Appearance Properties
    // color, box-shadow, background, border, text-shadow, opacity, etc.

    // 4. UI Properties
    // appearance, cursor, pointer-events, etc.

    // Child elements are not always (and shouldn't be) nested in the parent block
    .block__child {

      // Modifiers are almost always nested in their parent element
      &.block__child--modifier {

      }

      &:after {
        // `content` counts as a layout property
      }

    }
  }

  Full Example:

  .block {
    width: 100%;

    font-size: 1rem;
    font-weight: 400;

    color: $blue;

    .block__child {
      display: inline-block;

      &.block__child--modifier {
        color: $gray;
      }

      &:after {
        content: '';
        padding: 1.5rem;

        cursor: pointer;
      }
    }
  }

  If you want to pick a fight over/learn more about these rules, let me know – dan.eden@me.com

\*===================================*/