/*-----------------------------------*\

  Partial: Layout

  Layout helpers

\*-----------------------------------*/

.wrap {
  max-width: 57rem;
  padding: {
    left: $baseline;
    right: $baseline;
  }
  margin: 0 auto;

  @media ( max-width: $breakpoint-medium ) {
    max-width: 36rem;
  }

  @media ( max-width: $breakpoint-small ) {
    max-width: 34rem;

    padding: {
      left: $baseline/2;
      right: $baseline/2;
    }
  }
}

.island,
%island {
  padding: $baseline;
}

  .island--v,
  %island--v {
    padding: {
      top: $baseline;
      bottom: $baseline;
    }
  }

  .island--h,
  %island--h {
    padding: {
      left: $baseline;
      right: $baseline;
    }
  }

.isle,
%isle {
  padding: $baseline/2;
}

  .isle--v,
  %isle--v {
    padding: {
      top: $baseline/2;
      bottom: $baseline/2;
    }
  }

  .isle--h,
  %isle--h {
    padding: {
      left: $baseline/2;
      right: $baseline/2;
    }
  }

.spit,
%spit {
  padding: $baseline/4;
}

  .spit--v,
  %spit--v {
    padding: {
      top: $baseline/4;
      bottom: $baseline/4;
    }
  }

  .spit--h,
  %spit--h {
    padding: {
      left: $baseline/4;
      right: $baseline/4;
    }
  }

.span-all,
%span-all {
  width: 100%;
}

@import "grid";
