{% include header.html %}

  <main class="site__content post--single" role="main">

    <div class="wrap">
      <article class="grid hentry">
        <div class="grid__col grid__col--8-of-12 island--v">
            <header class="entry__header">
              <p class="gamma entry__date meta o--p--qm">{{ page.date | pretty }} <a href="{{ page.url }}" title="Permalink to “{{ page.title }}”">&infin;</a></p>
              <h1 class="entry__title entry-title">{{ page.title | widont }}</h1>
            </header>

            {{ content }}
        </div>
        {% include sidebar.html %}
      </article>
    </div>

  </main>

{% include footer.html %}
